@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
$dark-green: #7ea534;
$light-green: #83b228;
$dark-green-text: #324906;
$light-green-text: #81a639;
$dark-grey: #e0e0e0;
$light-grey: #f3f3f3;
$footer-copyright: #c5ec78;
